{% extends 'base.html' %}
{% block title %}
Got It| Edit Profile
{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <h2>Edit Your Profile</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_full_name" class="form-label">Full Name</label>
            {{ form.full_name }}
            {{ form.full_name.errors }}
            <label for="id_email" class="form-label">Email Address</label>
            {{ form.email }}
            {{ form.email.errors }}
            <label for="id_phone" class="form-label">Phone Number</label>
            {{ form.phone }}
            {{ form.phone.errors }}
            <label for="id_location" class="form-label">Location</label>
            {{ form.location }}
            {{ form.location.errors }}
            <label for="id_resume" class="form-label">Resume (PDF/DOCX)</label>
            {{ form.resume }}
            {% if profile.resume %}
                <p>Current: <a href="{{ profile.resume.url }}" target="_blank">Download/View Resume</a></p>
            {% endif %}
        </div>
        </div>
        <button type="submit" class="btn btn-outline-success">Save Changes</button>
    </form>
    
</div>
{% endblock %}