{% extends 'base.html' %}
 {% load static %}
 {% block title %}
Got It | Your Profile
 {% endblock %}

{% block content %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}
    <main>
    <div class="container">
        <div class="profile-header">
            <h1>Profile</h1>
        </div>
    </div>
    <div class="profilepage">
        {% if profile %}
                <div class="card mb-3 mx-auto" style="max-width: 1350px;">
                    <div class="card-body">
                        <h4 class="card-title">My information</h4>
                        <hr>
                        <p class="card-text">
                            <strong class="">Username: </strong> @{{ profile.user_name }}<br>
                            <strong>Full name:</strong> {{ profile.full_name }}<br>
                            <strong>Email:</strong> {{ profile.email }}<br>
                            <strong>Phone:</strong> {{ profile.phone }}<br>
                            <strong>Location:</strong> {{ profile.location }} <br>
                            {% if profile.resume %}
                                <strong>Resume:</strong> <a href="{{ profile.resume.url }}" target="_blank"><button class="btn btn-outline-success">Download/View Resume</button></a>
                            {% else %}
                                <strong>Resume / CV:</strong> Not updated
                            {% endif %}
                        </p>
                    </div>
                </div>
        {% else %}
            <div class="card">
                <div class="card-body">
                    No profiles found.
                </div>
            </div>
        {% endif %}
    </div>
    <div class="editbtn">
        <a  aria-current="page" href="{% url 'editprofile' %}"><button class="btn btn-outline-success" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
            </svg>
        </button></a>
    </div>
</main>
{% endblock %}