* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    height: 100%;
    width: 100%;
    header{
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 10;
        ul{
            margin-left: 350px;
            li{ 
               margin-left: 30px;
               font-size: large;
            }
        }
        form{
            
        }
    }
    div.homeimg{
        img{
            height: 100%;
            width: 100%;
        }
        }
}