* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    height: 100%;
    width: 100%;
    header{
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 10;
        ul{
            margin-left: 350px;
            li{ 
               margin-left: 30px;
               font-size: large;
               transition-duration: .3s;
            }
            li:hover{
                background-color: rgba(115, 235, 137, 0.443);
                border-radius: 15px;
                transition-duration: .3s;
            }
        }
        nav{
            border-radius: 10px;
            a.navbar-brand{
                color:rgba(115, 235, 137, 0.842) ;
                font-size: 28px;
            }
            div.nbell{
                margin-left: 20px;
                a{
                    svg{
                        height: 25px;
                        width: 25px;
                    }
                }
            }
            li.dropdown{
                 margin-left: 220px;
                a{
                    svg{
                       
                        height: 33px;
                        width: 33px;
                    }
                }
                ul{
                    li{
                        margin-right: 10px;
                        div.pp{
                            margin-right: 25px;
                        }
                    }
                }
            }
        }
    }
    hr{
        margin-top: 70px;
    }
    main{
        div.mainhead{
            h1{
                margin-top: 8%;
                margin-left: 25%;
                color: rgba(115, 235, 137, 0.728);
                font-size: 80px;
            }
        }
        div.homesign{
            margin-top: 5%;
            p{
                margin-left: 38%;
                b{
                    color: rgba(115, 235, 137, 0.728);
                }
            }
            a{
                button{
                    margin-left: 45%;
                }
            }
            hr{
                margin-top: 7%;
            }
        }
        div.more{
            div.icons{
                display: flex;
                margin-left: 17%;
                margin-top: 3%;
                svg{
                    margin-left: 22%;
                    height: 5%;
                    width: 5%;
                    object-fit: cover;
                }
        }
        div.icondesc{
            display: flex;
            margin-left: 3%;
            p.resume{
                margin-top: 1%;
                margin-left: 30%;
            }
            p.companies{
                margin-top: 1%;
                margin-left: 13%;      
            }
        }
    }
    div.contact{
        p{
            margin-left: 47%;
        }
        div.cicons{
            margin-left: 44%;
            svg{
                height: 3%;
                width: 3%;
                margin-left: 3%;
            }
        }
    }
    div.signup{
        div.mb-3{
            input{
                box-shadow: 0 2px 8px rgba(3, 3, 3, 0.719);
                transition: box-shadow 0.2s;
            }
            input:focus{
                box-shadow: 0 2px 8px rgba(115, 235, 137, 0.728);
            }
        }
    }
    div.profilepage{
        p.card-text{
            strong{
                display: inline-block;
                margin-top: 15px;
            }
        }
    }
    div.editbtn{
        a{
            button{
                margin-left: 8%;
            }
        }
    }
}
footer{
     text-align: center;
  padding: 1rem;
}
}