{% extends 'base.html' %}

{% block title %}
 Got It | Community
{% endblock %}

{% block content %}
    <div class="communityChat">
        <h2>Community</h2>
        <div class="card">
            <div id="chat-box">
        {% for message in messages %}
        <p><strong>{{ message.sender.username }}:</strong> {{ message.content }} 
            <span class="text-muted small message-timestamp" data-timestamp="{{ message.timestamp }}"></span></p>
            {% if user.is_staff or user.is_superuser %}
        <a href="{% url 'deletemessage' message.id %}" 
           onclick="return confirm('Are you sure you want to delete this message?');"
           class="btn btn-sm btn-danger">Delete</a>
    {% endif %}
         {% endfor %}
        </div>
        <form method="post" autocomplete="off">
        {% csrf_token %}
        <div class="input-group">
        <input type="text" name="content" class="form-control" placeholder="Type your message..." required autocomplete="off">
        <button type="submit" class="btn btn-outline-success">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
        <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z"/>
        </svg>
        </button>
        </div>
        </form>
        </div>
    </div>
{% endblock %}